/* //poppins fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* global variables  */
:root {
  --mobile-margin-x: 27px;
  --primary-color: #6070ff;
  --primary-dark-color: #172b4d;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: rgba(234, 234, 255, 0.433);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.showcase {
  width: 100%;
  min-height: 650px;
  padding-top: 30px;
  background-color: white;
  border-bottom-left-radius: 70px;
  position: relative;
  overflow: hidden;
}

.showcase-bg {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 0;
}

.main-header {
  margin-inline: var(--mobile-margin-x);
  position: relative;
  z-index: 10;
}

.main-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header nav .logo {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  font-family: var(--primary-font);
}

.main-header nav i {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
}

.showcase-description {
  margin-inline: var(--mobile-margin-x);
  margin-top: 100px;
  position: relative;
  z-index: 10;
}

.showcase-description h2 {
  font-size: 2.2rem;
  font-weight: 900;
  font-family: var(--primary-font);
  color: var(--primary-dark-color);
  text-decoration: none;
}

.showcase-description p {
  font-family: var(--primary-font);
  color: var(--primary-dark-color);
  line-height: 1.8rem;
  margin-top: 10px;
}

.showcase-contact {
  position: relative;
  margin-inline: var(--mobile-margin-x);
  margin-top: 20px;
  font-family: var(--primary-font);
  z-index: 10;
}

.showcase-contact .contact-link {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--primary-color);
}

.showcase-contact-icons {
  display: flex;
  gap: 20px;
}

.showcase-contact-icons.top-mr {
  margin-top: 40px;
}

.showcase-contact-icons svg {
  color: var(--primary-dark-color);
  cursor: pointer;
}

.showcase-contact-icons svg:hover {
  color: var(--primary-color);
}

.projects {
  margin-top: 40px;
  padding-inline: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
}

.contact-connect-button {
  margin: 15px 0;
}

.contact-connect-button a {
  color: var(--primary-color);
  font-size: 18px;
}

.project-card {
  width: 100%;
  background: white;
  border: 1px solid #dfe1e6;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.project-description {
  padding-top: 20px;
}

.project-description .project-title {
  color: var(--primary-dark-color);
  padding-bottom: 10px;
  font-size: 30px;
}

.project-description .details {
  display: flex;
  gap: 10px;
  align-items: center;
}

.project-description .details p {
  font-weight: 400;
  color: #7a869a;
}

.project-description .used-programming-languages p {
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  border-radius: 10px;
  background-color: #ebebff;
}

.project-description .details :nth-child(1) {
  color: #344563;
  font-size: 15px;
  font-weight: 500;
}

.project-description .details .cercle {
  background: #c1c7d0;
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

.project-description .detail-description {
  font-size: 15px;
  line-height: 30px;
  padding-top: 20px;
  width: 80%;
  color: var(--primary-dark-color);
}

.used-programming-languages {
  display: flex;
  flex-wrap: wrap;
}

.project-description .used-programming-languages {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.project-card .project-button-link-container {
  margin-top: 40px;
}

.project-card .project-button-link-container a {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 10px;
  transition-duration: 0.4s;
}

.about-section .contact {
  margin-top: 30px;
}

.about-section .contact a {
  color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px 20px;
  transition-duration: 0.2s;
}

.about-section .contact a:hover {
  background-color: var(--primary-color);
  color: white;
}

.project-card .project-button-link-container a:hover {
  background: var(--primary-color);
  color: white;
}

.about-section {
  min-height: 700px;
  padding: var(--mobile-margin-x);
  margin-top: 40px;
  background-color: white;
  border-top-right-radius: 70px;
}

.about-section .info-description h2 {
  color: var(--primary-dark-color);
  font-size: 40px;
  padding-top: 70px;
}

.about-section .info-description p {
  color: #344563;
  width: 90%;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tools-summery {
  margin-top: 40px;
}

.tool-dropdown {
  margin-bottom: 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  color: var(--primary-dark-color);
}

.tool-dropdown.closed {
  border-bottom: 0.5px solid rgba(151, 149, 149, 0.311);
}

.tools-dropdown .tool-dropdown .dropdown-header {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tools-dropdown .dropdown-header h2 {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-dark-color);
}

.tool-dropdown .bx-chevron-right {
  font-size: 20px;
  color: #acb7c3;
}

.tools {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tool {
  gap: 10px;
  width: 100%;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  background: rgba(236, 236, 236, 0.87);
  border-radius: 10px;
}

.tool img {
  width: 40px;
}

.contact-section {
  width: 100%;
  background-color: white;
  padding-top: 100px;
}

.contact-form-container {
  background-color: var(--primary-color);
  padding-top: 100px;
  padding-inline: var(--mobile-margin-x);
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-top-left-radius: 70px;
  position: relative;
  overflow: hidden;
}

.contact-bg-svg {
  position: absolute;
  right: -40px;
  z-index: 0;
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.contact-form-container .contact-title {
  text-align: center;
  color: white;
  font-size: 30px;
}

.contact-form-container .contact-description {
  text-align: center;
  color: white;
  line-height: 1.9rem;
}

.input-container {
  width: 100%;
  padding: 9px 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 30px;
}

.input-container input {
  width: 90%;
  height: 2.4rem;
  outline: none;
  border: none;
}

.contact-form-container .textarea-container {
  width: 100%;
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form-container .textarea-container textarea {
  width: 90%;
  min-height: 200px;
  resize: vertical;
  outline: none;
  border: none;
  line-height: 1.7rem;
  padding: 10px 0;
  transition-duration: 0.2s;
}

.contact-form-container form button {
  padding: 15px 40px;
  background: white;
  color: var(--primary-color);
  border-radius: 10px;
  margin: 20px 0;
  outline: none;
  cursor: pointer;
  border: 2px solid transparent;
  font-size: 16px;
  transition-duration: 0.3s;
}

.contact-form-container form button:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}
